System/Library/DTDs/sdef.dtd

<!-- BASICS -->
<!ENTITY % Typename "CDATA">
<!ENTITY % Classname "CDATA">
<!ENTITY % EventCode "CDATA">
<!ENTITY % OSType "CDATA">
<!ENTITY % Term "CDATA">
<!ENTITY % Text "CDATA">
<!ENTITY % Verbname "CDATA">

<!ENTITY % yorn "(yes | no)">

<!-- DICTIONARY (ROOT ELEMENT) -->
<!ELEMENT dictionary (documentation*, suite+)>
<!ATTLIST dictionary
  title      CDATA           #IMPLIED 
  >

<!-- DOCUMENTATION ELEMENTS -->
<!ELEMENT documentation (ANY | html)>
<!ELEMENT html ANY>

<!-- IMPLEMENTATION ELEMENTS -->
<!ENTITY % implementation "(cocoa)">
<!ELEMENT cocoa EMPTY>
<!ATTLIST cocoa
  name       NMTOKEN         #IMPLIED
  class      NMTOKEN         #IMPLIED
  key        NMTOKEN         #IMPLIED
  method     NMTOKEN         #IMPLIED
  >

<!-- SUITES -->
<!ELEMENT suite ((%implementation;)?, (class | class-extension | command | documentation | enumeration | event | record-type | value-type)+)>
<!ATTLIST suite
  name       CDATA           #REQUIRED 
  code       %OSType;        #REQUIRED 
  description  %Text;        #IMPLIED
  hidden     %yorn;          #IMPLIED 
  >

<!-- SYNONYMS -->
<!ELEMENT synonym ((%implementation;)?)>
<!ATTLIST synonym
  name       %Term;          #IMPLIED
  code       %OSType;		 #IMPLIED
  hidden     %yorn;          #IMPLIED 
  >
  <!-- at least one of "name" and "code" is required. -->

<!-- TYPES -->
<!ELEMENT type EMPTY>
<!ATTLIST type
  type       %Typename;      #REQUIRED 
  list       %yorn;          #IMPLIED
  >

<!-- VERBS (COMMANDS OR EVENTS) -->
<!ELEMENT command ((%implementation;)?, synonym*, direct-parameter?, parameter*, result?, documentation*)>
<!ATTLIST command
  name       %Verbname;      #REQUIRED
  code       %EventCode;     #REQUIRED 
  description  %Text;        #IMPLIED
  hidden     %yorn;          #IMPLIED 
  >

<!ELEMENT event ((%implementation;)?, synonym*, documentation*, direct-parameter?, (documentation | parameter)*, result?, documentation*)>
<!ATTLIST event
  name       %Verbname;      #REQUIRED
  code       %EventCode;     #REQUIRED 
  description  %Text;        #IMPLIED
  hidden     %yorn;          #IMPLIED 
  >

<!ELEMENT direct-parameter (type*)>
<!ATTLIST direct-parameter
  type       %Typename;      #IMPLIED 
  optional   %yorn;          #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!ELEMENT result (type*)>
<!ATTLIST result
  type       %Typename;      #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!ELEMENT parameter ((%implementation;)?, (type*))>
<!ATTLIST parameter
  name       %Term;          #REQUIRED
  code       %OSType;        #REQUIRED 
  hidden     %yorn;          #IMPLIED 
  type       %Typename;      #IMPLIED 
  optional   %yorn;          #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!-- CLASSES -->
<!ENTITY % class-contents "(contents | documentation | element | property | responds-to | synonym)">
<!ELEMENT class ((%implementation;)?, (%class-contents;)*)>
	<!-- not quite accurate; there can be at most one contents element. -->
<!ATTLIST class
  name       %Classname;     #REQUIRED
  code       %OSType;        #REQUIRED 
  hidden     %yorn;          #IMPLIED 
  plural     %Classname;     #IMPLIED 
  inherits   %Classname;     #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!-- contents -->
<!ELEMENT contents ((%implementation;)?, (type*))>
<!ATTLIST contents
  name       %Classname;     #IMPLIED
  code       %OSType;        #IMPLIED 
  type       %Typename;      #IMPLIED
  access     (r | w | rw)    "rw"     
  hidden     %yorn;          #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!-- element access -->
<!ELEMENT element ((%implementation;)?, accessor*)>
<!ATTLIST element
  type       %Classname;     #REQUIRED
  access     (r | w | rw)    "rw"     
  hidden     %yorn;          #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!ENTITY % accessor-type "(index | name | id | range | relative | test)">
<!ELEMENT accessor EMPTY>
<!ATTLIST accessor
  style      %accessor-type;  #REQUIRED
  >

<!-- properties -->
<!ELEMENT property ((%implementation;)?, (type | synonym | documentation)*)>
<!ATTLIST property
  name       %Term;          #REQUIRED
  code       %OSType;        #REQUIRED 
  hidden     %yorn;          #IMPLIED 
  type       %Typename;      #IMPLIED 
  access     (r | w | rw)    "rw"     
  in-properties  %yorn;      #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!-- supported verbs -->
<!ELEMENT responds-to ((%implementation;)?)>
<!ATTLIST responds-to
  name       %Verbname;      #REQUIRED
  hidden     %yorn;          #IMPLIED 
  >

<!-- class extensions -->
<!ELEMENT class-extension ((%implementation;)?, (%class-contents;)*)>
<!ATTLIST class-extension
  extends    %Classname;     #REQUIRED
  hidden     %yorn;          #IMPLIED 
  description  %Text;        #IMPLIED 
  >


<!-- SIMPLE TYPES -->

<!-- values -->
<!ELEMENT value-type ((%implementation;)?, synonym*, documentation*)>
<!ATTLIST value-type
  name       %Term;          #REQUIRED
  code       %OSType;        #REQUIRED 
  hidden     %yorn;          #IMPLIED 
  plural     %Classname;     #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!-- records -->
<!ELEMENT record-type ((%implementation;)?, synonym*, (documentation | property)+)>
	<!-- should be at least one property. -->
<!ATTLIST record-type
  name       %Term;          #REQUIRED
  code       %OSType;        #REQUIRED 
  hidden     %yorn;          #IMPLIED 
  description  %Text;        #IMPLIED 
  >

<!-- enumerations -->
<!ELEMENT enumeration ((%implementation;)?, (documentation | enumerator)+)>
	<!-- should be at least one enumerator. -->
<!ATTLIST enumeration
  name       %Typename;      #REQUIRED
  code       %OSType;        #REQUIRED
  hidden     %yorn;          #IMPLIED
  description  %Text;        #IMPLIED
  >

<!ELEMENT enumerator ((%implementation;)?, synonym*, documentation*)>
<!ATTLIST enumerator
  name       %Term;          #REQUIRED
  code       %OSType;        #REQUIRED 
  hidden     %yorn;          #IMPLIED 
  description  %Text;        #IMPLIED 
  >
